/*This is a comment.*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
	background-image: "../img/codemakecreate_white.png";
}
nav.main-nav{
	background-color: black;
	color: white;
	padding: 2px;
	font-family: "Roboto";
	text-align: right;
	padding: 5px;
}

nav.main-nav ul {
  list-style-type: none;
  color: white;
  margin: 0;
  padding: 0;
}

nav.main-nav ul li{
	color: white;
	display: block;
	margin-right: 10px;
/*	padding-left:10px;*/
  	float: left;
}

nav.main-nav ul li a{
	display: block;
  	padding: 8px;
  	color: #ffffff;
 }	

a:link {
	color: white;
  	text-decoration: none;
}

/*a:visited {
  	color: darkcyan;
}
*/
nav ul li:hover {
/*  	background-color: deeppink;*/
  	text-decoration: underline;
/*  	color: white;*/
}

a:active {
  color: hotpink;
}
